.testimonial{:class => "light_green", :id => "testimonial#{testimonial.id.to_s}"}
  - listing = testimonial.transaction.listing
  .testimonial-avatar
    = small_avatar_thumb(testimonial.author)
  .testimonial-details
    .testimonial-message
      - text_with_line_breaks do
        #{testimonial.text}
    .testimonial-author
      = link_to_unless testimonial.author.deleted?, PersonViewUtils.person_display_name(testimonial.author, @current_community), testimonial.author
      = t("testimonials.testimonial.about_listing", title: (link_to listing.title, listing), ago: time_ago(testimonial.created_at)).html_safe
      = testimonial.state.capitalize if !testimonial.accepted?
