- content_for :title_header do
  %h1
    %span#listing-title.listing-title= t(".title")

.row
  - @current_community.roles.each do |role|
    - key = role.name.downcase
    = form_for @person, url: update_role_person_path(@person) do |form|
      .col-6
        %h1= t(".#{key}.heading").html_safe
        %p= t(".#{key}.description").html_safe
        = form.hidden_field :role_id, value: role.id
        = form.button t(".#{key}.button")
        %p= t(".#{key}.learn_more").html_safe
