- content_for :javascript do
  initialize_profile_view("#{@person.username}");

- content_for :title_header do
  %h1
    %span.profile-title= @person.name(@current_community) + (@community_customization && @community_customization.storefront_label ? @community_customization.storefront_label : "")

%script{type: "text/template", class: "template", id: "image-frame-template"}
  .listing-image-frame
    #listing-image-link.listing-image-frame-content
      .listing-image-vertical-centering{:class => "${aspectRatioClass}" }
        %img{:src => "${url}", :alt => @person.name, :class => "listing-image ${aspectRatioClass}"}

%script{type: "text/template", class: "template", id: "image-thumbnail-template"}
  .listing-image-thumbnail-container
    %img.listing-image-thumbnail{src: "${url}"}
    .fade

.row
  .col-8
    .row.relative
      .people-image-mobile
        = huge_avatar_thumb(@person)
      .profile-action-buttons-mobile
        = render :partial => "profile_action_buttons"


    - CustomFieldValueUtils.with(values: @custom_field_values, keys: ['profile_video']).each do |custom_field_value|
      .row
        .col-12
          - custom_field_value.with_type do |question_type|
            = render :partial => "listings/custom_field_partials/#{question_type}", :locals => { :custom_field_value => custom_field_value }

    - CustomFieldValueUtils.with(values: @custom_field_values, keys: ['about_me']).each do |custom_field_value|
      .row
        .col-12
          - custom_field_value.with_type do |question_type|
            = render :partial => "listings/custom_field_partials/#{question_type}", :locals => { :custom_field_value => custom_field_value }

    - if @current_community.testimonials_in_use && (testimonials = received_testimonials_for_person(@person, @current_user, @current_community)).any?
      #people-testimonials.listing-main
        .row
          %h2.people-header
            = t(".reviews")
          #profile-testimonials-list
            = render :partial => "testimonials", :locals => {:received_testimonials => testimonials, :limit => 100}

    - CustomFieldValueUtils.without(values: @custom_field_values, keys: ['profile_video', 'interests', 'about_me']).each do |custom_field_value|
      .row
        .col-12
          - custom_field_value.with_type do |question_type|
            = render :partial => "listings/custom_field_partials/#{question_type}", :locals => { :custom_field_value => custom_field_value }

    - if @person.experiences.any?
      .row
        %h2.people-header
          = t(".experiences")
        = render(partial: "listed_experience", collection: @person.experiences, as: :experience)

    - if @person.person_images.any?
      - person_images = @person.person_images
      .row
        .col-12
          - if person_images.all? { |image| image.image_ready? }
            .listing-image-carousel
              #listing-image-frame

              - if @prev_image_id && @next_image_id
                = link_to params.merge(image: @prev_image_id), class: "listing-image-navi listing-image-navi-left", id: "listing-image-navi-left" do
                  .listing-image-navi-arrow-container
                    .listing-image-arrow-icon-container.left
                      = icon_tag("directleft", ["navigate-icon-fix", "listing-image-navi-arrow"])
                = link_to params.merge(image: @next_image_id), class: "listing-image-navi listing-image-navi-right", id: "listing-image-navi-right" do
                  .listing-image-navi-arrow-container
                    .listing-image-arrow-icon-container.right
                      = icon_tag("directright", ["navigate-icon-fix", "listing-image-navi-arrow"])
            #thumbnail-stripe.listing-image-thumbnail-stripe

            - content_for :extra_javascript do
              :javascript
                var personImages = #{person_images.map { |image| PersonImageJSAdapter.new(image) }.to_json }
                var currentImage = #{params[:image].present? ? params[:image].to_i : person_images.first.id};
                ST.listingImages(personImages, currentImage);
          - else
            .listing-image-text-container
              .listing-image-frame
                .listing-image-frame-content
                  .listing-image-vertical-centering
                    .listing-no-image
                      = t("listings.show.processing_uploaded_image")

    - if @listings.any? || current_user?(@person) || Maybe(@current_user).has_admin_rights_in?(@current_community).or_else(false)
      .row
        %h2.people-header
          - if @listings.any?
            - if current_user?(@person) && params[:show_closed]
              = pluralize(@listings.count, t(".listing"), t(".listings"))
            - else
              = pluralize(@listings.count, t(".open_listing"), t(".open_listings"))
          - else
            - if current_user?(@person) && params[:show_closed]
              = t(".no_listings")
            - else
              = t(".no_open_listings")

          %span.people-show-closed-link
            - if current_user?(@person) || Maybe(@current_user).has_admin_rights_in?(@current_community).or_else(false)
              - if params[:show_closed]
                = link_to t("people.profile_listings.show_only_open"), person_path(@person)
              - else
                = link_to t("people.profile_listings.show_also_closed"), person_path(@person, :show_closed => true)
    #profile-listings-list
      - limit = 6
      = render :partial => 'listings/profile_listings', :locals => {:person => @person, :limit => limit, listings: persons_listings(@person, limit)}

  .col-4
    .row
      .people-image
        = huge_avatar_thumb(@person)

    .row
      .profile-action-buttons-desktop
        = render :partial => "profile_action_buttons"

    .row
      - CustomFieldValueUtils.with(values: @custom_field_values, keys: ['interests']).each do |custom_field_value|
        - custom_field_value.with_type do |question_type|
          = render :partial => "listings/custom_field_partials/#{question_type}", :locals => { :custom_field_value => custom_field_value }


    - if !@person.shape.blank?
      .row
        %h2.people-header
          = t(".shape")
        = image_tag @person.shape.url(:original)

    - if @person.badges.any?
      .row
        %h2.people-header= "Badges"
      #profile-listings-list
        = render :partial => 'listings/profile_listings', :locals => {:person => @person, :limit => 6, listings: @person.badges}

    - if @current_community.follow_in_use?
      = render :partial => "followed_people", :locals => { :person => @person, :limit => 6 }



- content_for :extra_javascript do
  :javascript
    window.ST.initializeFollowButtons();
