- share_number_url = new_person_phone_number_share_url(@author, @url_params)

%tr
  %td{:align => "left"}
    %font{body_font}
      %p= "So exciting! You’re going on the #{title} experience"
      %ul
        %li= "on #{date}"
        %li= "at #{time}"
      %p
        %b= "What to bring:"
      %ul
        %li= "Your smart phone or iPod"

        - if bring_money
          %li= "Money? #{bring_money}"

        - if what_else
          %li= what_else

      - if address
        %p
          - url = "http://maps.google.com/?q=#{latitude_longitude}"
          %b= "Location: #{link_to(address, url)}".html_safe

      - if location_details
        %p
          %b= "Location details & meeting up:"
          = location_details

      - if nearest_skytrain_station
        %p
          %b= "Closest skytrain station:"
          = nearest_skytrain_station

      %p
        %b= "You'll meet..."
        %img{src: profile_image_url}
        = link_to author_name, profile_url

%tr
  %td{:align => "left"}
    %font{body_font}
      %h3= t('emails.booking_reminder_to_requester.share_number_heading').html_safe
      %p= t('emails.booking_reminder_to_requester.share_number_paragraph').html_safe
= render :partial => "person_mailer/action_button", :locals => { :text => t("emails.booking_reminder_to_requester.button"), :url => share_number_url }
%tr
  %td{:align => "left"}
    %font{body_font}
      =t("emails.booking_reminder_to_requester.end").html_safe
