.centered-section
  %h2
    = "Please Confirm Booking"

  = form_for :booking, url: booking_path(@booking.id), method: 'PUT' do |form|
    - start_at, end_at = @booking.start_at, @booking.end_at
    = "#{start_at.to_formatted_s(:time)} - #{end_at.to_formatted_s(:time)},  #{start_at.to_date.to_formatted_s(:short)}"
    .row
      .col-12
        = form.button 'Confirm', :class => "send_button"
