- if custom_fields && custom_fields.count > 0
  .new_listing_form_field_container
    - custom_fields.each do |custom_field|
      - custom_field.with_type do |field_type|
        .inline-label-container
          = label "custom_fields", "#{custom_field.id}".to_sym, "#{custom_field.name(I18n.locale)}#{custom_field.required ? '*' : ''}", class: 'inline'
          %small
            = (custom_field.hint(I18n.locale) || "").html_safe
        = render :partial => "listings/form/custom_field_partials/#{field_type}", :locals => { :custom_field => custom_field, :custom_field_value => customizable.answer_for(custom_field) }
