= form_for @listing, :html => {:multipart => true} do |form|
  = render :partial => "listings/form/title", :locals => { :form => form }
  = form.hidden_field :current_community_id, :value => @current_community.id
  = form.hidden_field(:category_id, :value => @listing.category.id)
  = form.hidden_field(:transaction_type_id, :value => @listing.transaction_type.id)
  = form.button t(".create_listing"), :class => "send_button"
