- content_for :title_header do
  %h1= t("layouts.admin.admin")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }


#listings_settings_form.left-navi-section.settings-section
  = form_for [:admin, @current_community, @listing] do |form|
    = form.label :invisible, t("admin.communities.listings.invisible")
    = form.text_field :invisible, :class => "text_field"

    = form.label :sort_date, t("admin.communities.listings.sort_date")
    = form.date_select :sort_date

    = form.label :category, t("admin.communities.listings.category")
    = form.select :category_id, options_for_select(@current_community.categories.map { |c| [c.display_name(I18n.locale), c.id] }, @listing.category_id)

    = form.button t("settings.save_information"), :class => "send_button"
