- content_for :title_header do
  %h1= t("layouts.admin.admin")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

.left-navi-section
  %h2= t("admin.communities.listings.listings", :community_name => @community.name(I18n.locale))

  %span#admin_members_count= page_entries_info(@listings, :model => "Listing")
  %p
    Download
    = link_to('CSV', admin_community_listings_path(@current_community, per_page: 1000, format: 'csv'))

  %form
    %table#admin_listings_list
      %thead
        %tr
          %th= t("admin.communities.listings.title")
          %th= t("admin.communities.listings.whats_missing")
          %th= t("admin.communities.listings.author")
          %th= t("admin.communities.listings.invisible")
          %th= t("admin.communities.listings.open")
          %th= t("admin.communities.listings.available")
          %th= t("admin.communities.listings.edit")
      %tbody
        - @listings.each do |listing|
          %tr
            %td
              = link_to listing.title, listing
            %td
              = PrerequisiteService.missing(listing).map { |option| option.title(I18n.locale) }.join(", ")
            %td.admin-members-full-name
              = link_to listing.author.full_name, listing.author
            %td
              = listing.invisible
            %td
              = listing.open
            %td
              = listing.availabilities.where(date: Availability.range).any?
            %td
              = link_to t("admin.communities.listings.edit"), edit_admin_community_listing_path(@current_community.id, listing.id)

  .row
    .col-12
      = will_paginate @listings
