- links = [{path: person_inbox_path(@current_user), text: 'Conversations', name: :conversations, icon_class: 'icon-comment'}, { path: person_transactions_path(@current_user), text: 'Experiences', name: :transactions, icon_class: 'icon-bell'}]

.left-navi
  .admin-left-navi-link-group-title
    = "View: "
  .admin-left-navi-link-group
    - links.each do |link|
      %a{:id => link[:id], :href => link[:path], :title => link[:text], :class => (link[:name].eql?(selected_name) ? "selected left-navi-link" : "left-navi-link"), "data-uv-trigger" => link[:data_uv_trigger]}
        .left-navi-link-icon{:class => link[:icon_class]}
        .left-navi-link-text= link[:text]

- links.each do |link|
  - if link[:name].eql?(selected_name)
    .left-navi-dropdown.toggle.with-borders.hidden-tablet{data: {toggle: '.left-navi-menu'}}
      .icon-with-text{:class => link[:icon_class]}
      .text-with-icon= link[:text]
      %i.icon-dropdown.ss-dropdown
.left-navi-menu.toggle-menu.hidden
  - links.each do |link|
    %a{:href => link[:path], :title => link[:text], :id => "#{link[:name]}_left_navi_link"}
      .icon-with-text{:class => link[:icon_class]}
      .text-with-icon= link[:text]
