- content_for :title_header do
  %h1= t("layouts.no_tribe.inbox")

= render partial: 'left_hand_navigation', locals: { selected_name: :transactions }

.left-navi-section
  - if inbox_rows.present?

    - if (booked = inbox_rows['booked']).present?
      %h2 Booked
      .conversation-list-container
        = render :partial => "transaction_row", :collection => booked, :as => :conversation

    - if (requested = inbox_rows['requested']).present?
      %h2 Requested
      .conversation-list-container
        = render :partial => "transaction_row", :collection => requested, :as => :conversation

    - if (confirmed = inbox_rows['confirmed']).present?
      %h2 Completed
      .conversation-list-container
        = render :partial => "transaction_row", :collection => confirmed, :as => :conversation

  - else
    #no_conversations
      = t("conversations.index.no_received_messages")
